body{
    background-color: rgb(224, 224, 224);
    margin: 0;
    text-align: center;
    font-family: 'Inter', sans-serif;
}

nav{
    position: fixed;
    width: 100%;
    background-color: #0074A8;
    height: 6rem;
}

.header{
    color: #FFFFFF;
    text-align: center;
    font-size: 2rem;
}

main{
    padding-top: 6rem;
    width: 1200px;
    background-color: white;
    margin: 0 auto;
}

.section{
    display: flex;
}

.subSection{
    width: 100%;
    height: 400px;
    margin: 2rem;
}

.miniSection{
    width: 100%;
    height: 200px;
}

.sectionHeaderText{
    width: 100%;
    color: #0074A8;
    font-size: 40px;
}

.sectionSubHeaderText{
    width: 100%;
    text-decoration: underline;
}

.introText{
    font-size: 30px;
}

.sectionText{
    font-size: 18px;
    padding: 1rem;
}

.rushmoreImage{
    width: 100%;
    border-radius: 4px;
}

hr {
    border: none;
    height: 0.75rem;
    margin: 1.25rem auto;
    width: 60%;
}

.icon{
    width: 100px;
    height: 100px;
    margin: 1rem;
    margin-top: 2rem;
}

.panelHeader{
    color: white;
    width: 100%;
    margin-bottom: 3rem;
}

.blueBG{
    background-color: #0074A8;
    border-radius: 5px;
}

.leftPanel{
    margin-left: 2rem;
}

.rightPanel{
    margin-right: 2rem;
}